openapi: 3.1.0
info:
  title: airSlate signNow REST Document Fields Templates API
  version: v2
  description: 'Best-effort OpenAPI 3.1 representation of the airSlate signNow REST API.

    airSlate exposes its developer API primarily through the signNow product

    family. Endpoint paths and request shapes are derived from the official

    signNow Python SDK (github.com/signnow/SNPythonSDK) and public docs at

    https://docs.signnow.com/. Authentication uses OAuth 2.0 with a Basic

    token for the application credential and resource-owner password or

    client credentials grant for the access token.

    '
  contact:
    name: airSlate signNow
    url: https://docs.signnow.com/
servers:
- url: https://api.signnow.com
  description: signNow production API
- url: https://api-eval.signnow.com
  description: signNow evaluation/sandbox API
security:
- BearerAuth: []
tags:
- name: Templates
paths:
  /template:
    post:
      tags:
      - Templates
      summary: Create a template
      operationId: createTemplate
      responses:
        '201':
          description: Created
  /template/{template_id}/copy:
    post:
      tags:
      - Templates
      summary: Clone a template
      operationId: cloneTemplate
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Cloned
  /template/{document_id}/bulkinvite:
    post:
      tags:
      - Templates
      summary: Bulk invite signers using a template
      operationId: bulkInvite
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /documentgroup/template/{template_id}:
    get:
      tags:
      - Templates
      summary: Get a document group template
      operationId: getGroupTemplate
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    put:
      tags:
      - Templates
      summary: Update a document group template
      operationId: updateGroupTemplate
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic auth carrying the application Basic Token (base64 of

        client_id:client_secret) used against POST /oauth2/token.

        '
    BearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 bearer access token issued by /oauth2/token. Required on

        all resource endpoints.

        '
