openapi: 3.1.0
info:
  title: airSlate signNow REST Document Fields Webhooks API
  version: v2
  description: 'Best-effort OpenAPI 3.1 representation of the airSlate signNow REST API.

    airSlate exposes its developer API primarily through the signNow product

    family. Endpoint paths and request shapes are derived from the official

    signNow Python SDK (github.com/signnow/SNPythonSDK) and public docs at

    https://docs.signnow.com/. Authentication uses OAuth 2.0 with a Basic

    token for the application credential and resource-owner password or

    client credentials grant for the access token.

    '
  contact:
    name: airSlate signNow
    url: https://docs.signnow.com/
servers:
- url: https://api.signnow.com
  description: signNow production API
- url: https://api-eval.signnow.com
  description: signNow evaluation/sandbox API
security:
- BearerAuth: []
tags:
- name: Webhooks
paths:
  /api/v2/events:
    get:
      tags:
      - Webhooks
      summary: List webhook event subscriptions
      operationId: listWebhooks
      responses:
        '200':
          description: OK
    post:
      tags:
      - Webhooks
      summary: Create webhook event subscription
      operationId: createWebhook
      responses:
        '201':
          description: Created
  /api/v2/events/{event_subscription_id}:
    put:
      tags:
      - Webhooks
      summary: Update webhook event subscription
      operationId: updateWebhook
      parameters:
      - name: event_subscription_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Webhooks
      summary: Delete webhook event subscription
      operationId: deleteWebhook
      parameters:
      - name: event_subscription_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic auth carrying the application Basic Token (base64 of

        client_id:client_secret) used against POST /oauth2/token.

        '
    BearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 bearer access token issued by /oauth2/token. Required on

        all resource endpoints.

        '
