openapi: 3.1.0
info:
  title: airSlate signNow REST Document Fields Documents API
  version: v2
  description: 'Best-effort OpenAPI 3.1 representation of the airSlate signNow REST API.

    airSlate exposes its developer API primarily through the signNow product

    family. Endpoint paths and request shapes are derived from the official

    signNow Python SDK (github.com/signnow/SNPythonSDK) and public docs at

    https://docs.signnow.com/. Authentication uses OAuth 2.0 with a Basic

    token for the application credential and resource-owner password or

    client credentials grant for the access token.

    '
  contact:
    name: airSlate signNow
    url: https://docs.signnow.com/
servers:
- url: https://api.signnow.com
  description: signNow production API
- url: https://api-eval.signnow.com
  description: signNow evaluation/sandbox API
security:
- BearerAuth: []
tags:
- name: Documents
paths:
  /document:
    post:
      tags:
      - Documents
      summary: Upload a document
      operationId: createDocument
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
  /document/{document_id}:
    get:
      tags:
      - Documents
      summary: Retrieve a document
      operationId: getDocument
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    put:
      tags:
      - Documents
      summary: Update document fields/metadata
      operationId: updateDocument
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Documents
      summary: Delete document
      operationId: deleteDocument
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
  /document/{document_id}/download:
    get:
      tags:
      - Documents
      summary: Download document
      operationId: downloadDocument
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /document/{document_id}/download/link:
    post:
      tags:
      - Documents
      summary: Generate a one-time download link
      operationId: createDownloadLink
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /document/{document_id}/historyfull:
    get:
      tags:
      - Documents
      summary: Get full document history
      operationId: getDocumentHistory
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /document/merge:
    post:
      tags:
      - Documents
      summary: Merge documents into one
      operationId: mergeDocuments
      responses:
        '200':
          description: OK
  /document/{document_id}/move:
    post:
      tags:
      - Documents
      summary: Move document to a folder
      operationId: moveDocument
      parameters:
      - name: document_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic auth carrying the application Basic Token (base64 of

        client_id:client_secret) used against POST /oauth2/token.

        '
    BearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 bearer access token issued by /oauth2/token. Required on

        all resource endpoints.

        '
